<div class="container-fluid error-404">
  <div class="row error-404__container h-i-100-vh">
    <div class="col-12 col-md-6 error-404__block">
      <div class="flex flex__col">
        <h1 class="mb-i-0">404</h1>
        <h2>Pagina no encontrada</h2>
        <h4>Lo sentimos, pero la pagina que estas buscando no existe</h4>
        <a [routerLink]="['/home']">Volver al inicio</a>
      </div>
    </div>
  </div>
</div>
