<div class="container-fluid error-404">
  <div class="row error-404__container h-i-100-vh">
    <div class="col-12 col-md-6 error-404__block">
      <div class="flex flex__col">
        <h1 class="mb-i-0">403</h1>
        <h3>Usuario no autorizado o no dispone de los roles requeridos para esta aplicación</h3>
        <a [routerLink]="['/home']">Volver al inicio</a>
      </div>
    </div>
  </div>
</div>
