@for $i from 0 to 101 {
  .m-i-#{$i} {
    margin: $i * 1px !important;
  }
  .mt-i-#{$i} {
    margin-top: $i * 1px !important;
  }
  .mb-i-#{$i} {
    margin-bottom: $i * 1px !important;
  }
  .ml-i-#{$i} {
    margin-left: $i * 1px !important;
  }
  .mr-i-#{$i} {
    margin-right: $i * 1px !important;
  }
  .mx-i-#{$i} {
    margin-left: $i * 1px !important;
    margin-right: $i * 1px !important;
  }
  .my-i-#{$i} {
    margin-top: $i * 1px !important;
    margin-bottom: $i * 1px !important;
  }
  .p-i-#{$i} {
    padding: $i * 1px !important;
  }
  .pt-i-#{$i} {
    padding-top: $i * 1px !important;
  }
  .pb-i-#{$i} {
    padding-bottom: $i * 1px !important;
  }
  .pl-i-#{$i} {
    padding-left: $i * 1px !important;
  }
  .pr-i-#{$i} {
    padding-right: $i * 1px !important;
  }
  .px-i-#{$i} {
    padding-left: $i * 1px !important;
    padding-right: $i * 1px !important;
  }
  .py-i-#{$i} {
    padding-top: $i * 1px !important;
    padding-bottom: $i * 1px !important;
  }
  .h-i-#{$i} {
    height: $i * 1% !important;
  }
  .w-i-#{$i} {
    width: $i * 1% !important;
  }
  .h-max-i-#{$i} {
    max-height: $i * 1% !important;
  }
  .h-min-i-#{$i} {
    min-height: $i * 1% !important;
  }
  .w-max-i-#{$i} {
    max-width: $i * 1% !important;
  }
  .w-min-i-#{$i} {
    min-width: $i * 1% !important;
  }
  .h-i-#{$i}-px {
    height: $i * 1px !important;
  }
  .w-i-#{$i}-px {
    width: $i * 1px !important;
  }
  .h-max-i-#{$i}-px {
    max-height: $i * 1px !important;
  }
  .h-min-i-#{$i}-px {
    min-height: $i * 1px !important;
  }
  .w-max-i-#{$i}-px {
    max-width: $i * 1px !important;
  }
  .w-min-i-#{$i}-px {
    min-width: $i * 1px !important;
  }
  .h-i-#{$i}-vh {
    height: $i * 1vh !important;
  }
  .gap-i-#{$i}:not(:last-child) {
    padding-right: $i * 1px !important;
  }
}

@for $i from 3 to 41 {
  .h-i-#{$i*25}-px {
    height: $i * 25px !important;
  }
  .w-i-#{$i*25}-px {
    width: $i * 25px !important;
  }
  .h-max-i-#{$i*25}-px {
    max-height: $i * 25px !important;
  }
  .h-min-i-#{$i*25}-px {
    min-height: $i * 25px !important;
  }
  .w-max-i-#{$i*25}-px {
    max-width: $i * 25px !important;
  }
  .w-min-i-#{$i*25}-px {
    min-width: $i * 25px !important;
  }
}

@for $i from 1 to 51 {
  .-mt-i-#{$i} {
    margin-top: $i * -1px !important;
  }
  .-mb-i-#{$i} {
    margin-bottom: $i * -1px !important;
  }
  .-ml-i-#{$i} {
    margin-left: $i * -1px !important;
  }
  .-mr-i-#{$i} {
    margin-right: $i * -1px !important;
  }
}

@for $i from 6 to 51 {
  .f-i-#{$i} {
    font-size: #{$i}px !important;
  }
}

@for $i from 1 to 10 {
  .fw-i-#{$i*100} {
    font-weight: #{$i * 100} !important;
  }
}

@for $i from 10 to 30 {
  .modal-i-#{$i*50} {
    width: #{$i * 50}px !important;
  }
}

@for $i from 0 to 101 {
  .gap-i-#{$i}:not(:last-child) {
    padding-right: 0 !important;
  }
}