.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.flex {
  display: flex !important;

  &.flex__row {
    flex-flow: row nowrap;
    align-items: center;

    &.flex__row--between {
      justify-content: space-between;
    }

    &.flex__row--center {
      justify-content: center;
    }

    &.flex__row--end {
      justify-content: flex-end;
    }
  }

  &.flex__col {
    flex-flow: column nowrap;
    align-items: center;
  }

  &.justify-content-center {
    justify-content: center !important;
  }
}

.flex__item {
  &.flex__item--center {
    align-self: center;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.btn-block {
  display: block !important;
  width: 100%;
}

.c-black {
  color: #000000 !important;
}

.c-no-color {
  color: transparent !important;
}

.cur-move {
  cursor: move;
}

.f-i-bold {
  font-weight: bold;
}
