@media (max-width: $xs-less) {

  .container-fluid {
    padding-top: 60px;
  }

  .error-404 {
    .error-404__container {
      .error-404__block {
        h1 {
          font-size: 100pt;
        }
      }
    }
  }

  .flex {
    &.flex__row {
      flex-flow: row wrap;
      &.flex__row--between {
        justify-content: center;
      }
      &.flex__row--center {
        justify-content: center;
      }
      &.flex__row--end {
        justify-content: center;
      }
    }
  }

}

@media (min-width: $xs) and (max-width: $sm-less) {

  .error-404 {
    .error-404__container {
      .error-404__block {
        h1 {
          font-size: 100pt;
        }
      }
    }
  }

  .container-fluid {
    padding-top: 60px;
  }

}

@media (min-width: $sm) and (max-width: $md-less) {

  .container-fluid {
    padding-top: 60px;
  }

}

@media (min-width: $md) and (max-width: $lg-less) {

}

@media (min-width: $lg) {
}

@media (min-width: $xs) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: $sm) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: $md) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: $lg) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
}
